body {
  background-image: url(../image/nature-3082832_960_720.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p {
  margin: 250px;
  font-size: 29px;
  background: none; /* to change later*/
  color: rgb(37, 80, 124);
  font-family: "Dancing Script", cursive;
}
form {
  font-family: "DM Serif Display", serif;
}
div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 300px;
}
