:root {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Ibarra Real Nova', serif;
    background: linear-gradient(23deg, rgba(57,20,20,1) 0%, rgba(19,2,2,1) 22%, rgba(19,2,2,1) 44%, rgba(108,16,16,1) 66%, rgba(19,2,2,1) 91%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

header {
    height: 7rem;
    width: 100%;
    background-color: $headercolor;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;

    .home {
        width: 8rem;
        margin-left: 1rem;
        font-size: 3rem;

        &__link:hover,
        :active,
        :visited,
        :link {
            text-decoration: none;
            color: $fontcolor;
        }
    }
    
    .nav {
        display: none;
        font-size: 2rem;
    }

    .social-media {
        display: block;
        width: 50%;

        &__list {
            display: flex;
            justify-content: space-around;

            li {
                font-size: 3rem;
                list-style: none;
            }

            li:hover,
            :active,
            :link,
            :visited {
                color: $fontcolor;
            }
        }
    }
    
    .burger-menu {
        margin-left: auto;
        width: 4rem;
        height: 7rem;
        display: flex;
        align-items: center;
        
        
        .fas {
            font-size: 3rem;
            color: $fontcolor;
            cursor: pointer;
        }
        
        input[type=checkbox] {
            display: none;
        }

        input[type=checkbox]:checked ~ .burger__list {
            right: 0rem;
        }

        .burger__list {
            position: absolute;
            list-style: none;
            margin-top: 15.2rem;
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            right: -50rem;
            background-color: $burgermenu;
            border-radius: 0rem 0rem .5rem .5rem;
            transition: all .4s ease-in;

            .burger__item {
                padding: 3rem 0rem;
                
                &:hover,
                :visited,
                :link,
                :active {
                    text-decoration: none;
                    color: $fontcolor;
                }
            }
        }
    }
}