span {
    display: none;
}

.hero {
    background: rgb(57,20,20);
    background: linear-gradient(23deg, rgba(57,20,20,1) 0%, rgba(19,2,2,1) 22%, rgba(19,2,2,1) 44%, rgba(108,16,16,1) 66%, rgba(19,2,2,1) 91%);
    background-size: cover;
    width: 100%;
    min-height: calc(100vh - 7rem);
    margin-top: 7rem;
    position: absolute;
    margin-top: 7rem;
    z-index: -10;
    
    img{
        width: 500px;
        margin-left: 4rem;
        margin-top: 15rem;
        opacity: .2;
    }
}
.cropped {
    
    background-size: cover;
    position: absolute;
    margin-top: 7rem;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 7rem);
    z-index: -10;
    
    
    img {
        width: 500px;
        margin-left: 4rem;
        margin-top: 15rem;
        border: none;
        -webkit-animation: swing-in-left-fwd 2s ease-in 4s both;
        animation: swing-in-left-fwd 2s ease-in 4s both;
    }

    p {
        width: 50%;
        position: absolute;
        top: 7rem;
        right: 4rem;
        color: $fontcolor;
        font-size: 4rem;
        text-align: center;
    }
}


@-webkit-keyframes swing-in-left-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 1;
    }
  }
  @keyframes swing-in-left-fwd {
    0% {
      -webkit-transform: rotateY(-100deg);
              transform: rotateY(-100deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      -webkit-transform-origin: right;
              transform-origin: right;
      opacity: 1;
    }
}