@media (min-width: 768px) {
    header {

        .home {
            font-weight: 700;
            margin-left: 3rem;
        }

        .nav {
            display: flex;
            width: 50%;
            margin: 1rem;

            &__list {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                list-style: none;

                .list__link:hover,
                :link,
                :active,
                :visited {
                    color: $fontcolor;
                    text-decoration: none;
                    font-weight: 700;
                }
            }
        }

        .burger-menu {
            display: none;
        }

        
    }

    .hero {

        img {
            margin-left: 7%;
            margin-top: 3%;
            width: 60%;
        }
    }

    .cropped {

        img {
            margin-left: 7%;
            margin-top: 3%;
            width: 60%;
        }

        p {
            top: 12%;
            right: 2%;
        }
    }

    main {
        
        .cards-container {
            flex-flow: row wrap;
            align-items: flex-start;
            
    
    
            .card {
                flex: 1 0 25rem;
                margin: 2rem;
            }
    
            .card__three {
                margin: 2rem 20rem;
            }
        }
    }
    
    .about-me {
        max-width: 30%;
    }

    .form-container {
        max-width: 60%;
        
        .form {

            .btns {

                .btn:hover {
                    border: 1px;
                    box-shadow: .5rem .5rem .5rem .5rem rgb(37, 35, 35);
                    transform: translateY(-.2rem);
                }

                .btn:active {
                    border: none;
                    outline: none;
                    transform: translateY(.5rem);
                    box-shadow: none;
                }
            }
        }
    }
}





@media (min-width: 992px) {
    body {
        background-color: white;
        background-image: none;
        
        header {
            justify-content: space-around;
            
            .home {
                margin-left: 10%;
            }
            
            .nav {
                width: 35%;
                margin-right: 10%;
                
                .nav__list {
                    width: 100%;
                }
            }
            
            .social-media {
                width: 30%;
                
            }
        }
        
        .hero {

            img {
                margin-left: 7%;
                margin-top: 3%;
                width: 40%;
            }
        }
    
        .cropped {
    
            img {
                margin-left: 7%;
                margin-top: 3%;
                width: 40%;
            }
    
            p {
                width: 40%;
                top: 12rem;
                right: 2rem;

                span {
                    display: block;
                }
            }
        }
        
        main {
            width: 100%;
            background: linear-gradient(23deg, rgba(57,20,20,1) 0%, rgba(19,2,2,1) 22%, rgba(19,2,2,1) 44%, rgba(108,16,16,1) 66%, rgba(19,2,2,1) 91%);
            margin-top: 7rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
            .cards-container {
                background-color: rgba(255, 255, 255, .50);
                flex-flow: row wrap;
                justify-content: center;
                margin: 7rem auto 0rem auto;
                align-items: flex-start;
                box-shadow: 1rem 2rem 1rem .5rem rgb(44, 2, 2);
                
                
                width: 80%;
                
                
                .card {
                    flex-flow: row wrap;
                    margin: 2rem;
                    flex: 0 0 34rem;
                    max-width: 40rem;
                    
                    
                    img {
                        max-width: 100%
                    }
                    
                    .card__body {
                        flex-direction: column;
                        align-items: center;
                        
                        p {
                            text-align: center;
                        }
                    }
                }
            }

            .aboutme-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 0 auto;
                background-color: rgba(255, 255, 255, .50);
                width: 80%;
                height: calc(100vh - 7rem);
                box-shadow: 1rem 2rem 1rem .5rem rgb(44, 2, 2);

                .about-me {
                    margin: 0 auto;
                    max-width: 40%;
                    color: black;

                    a {
                        color: black;
                    }
            
                    a:hover {
                        color: blue;
                    }
                }
            }
            
            .container__form-container {
                background-color: rgba(255, 255, 255, .50);
                width: 80%;
                height: calc(100vh - 7rem);
                margin: 0 auto;
                box-shadow: 1rem 2rem 1rem .5rem rgb(44, 2, 2);
                

                .form-container {
                    
                    .form {
                        
                        .name {
                            
                            label, input {
                                color: $headercolor;
                            }
                        }
                
                        .company {
                            
                            label, input {
                                color: $headercolor;
                            }
                        }
                
                        .email {
                            
                            label, input {
                                color: $headercolor;
                            }
                        }
                        input {
                            border: .1rem solid $headercolor;
                        }

                        ::placeholder {
                            color: $headercolor;
                            opacity: .5;
                        }

                        input:hover {
                            box-shadow: .08rem .08rem .08rem .08rem $hoverborder;
                        }

                        input:focus {
                            outline: .2rem solid $focusborder;
                        }

                        .textarea-container {
                            width: 60%;
                            textarea {
                                border: .1rem solid $headercolor;

                                ::placeholder {
                                    color: $headercolor;
                                    opacity: .5;
                                }
                            }

                            textarea:hover {
                                box-shadow: .08rem .08rem .08rem .08rem $hoverborder;
                            }

                            textarea:focus {
                                outline: .2rem solid $focusborder;
                            }
                        }
                    }
                }
            }
        }        
        
        .form-container {
            max-width: 40%;
        }
    }
}


    
@media (min-width: 1344px) {
    body {

        main {
            .cards-container {
                
                max-width: 80%;
            }
            .aboutme-container {
    
                .about-me {
                    max-width: 30%;
                }
            }
            .form-container {
                .textarea-container{

                    textarea{

                        width: 70%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1755px) {
    .cropped {

        .luay {
            max-width: 30%
        }
    }
}